body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.calculator-screen {
    width: 85%;
    height: 60px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

.button {
    height: 60px;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #e0e0e0;
}

.operator {
    background-color: #f7a800;
    color: #fff;
}

.equal-sign {
    background-color: #333;
    color: #fff;
    grid-column: span 4;
}

.all-clear {
    background-color: #446af5;
    color: #fff;
}

.button:active {
    box-shadow: inset 0 0 5px #000;
}
